{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order #{{ order.id }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Order #{{ order.id }}</h1>
    <p>Items in this order:</p>
    <ul>
        {% for item in order.items.all %}
            <li>{{ item.name }} - ${{ item.price|floatformat:2 }}</li>
        {% endfor %}
    </ul>

    <!-- Чистая цена -->
    <p>Subtotal: {{ subtotal|floatformat:2 }}</p>

    <!-- Скидка (если есть) -->
    {% if order.discount %}
        <p>Discount ({{ order.discount.percent_off }}%): -${{ discount_amount|floatformat:2 }}</p>
    {% endif %}

    <!-- Налог (если есть) -->
    {% if order.tax %}
        <p>Tax ({{ order.tax.display_name }} {{ order.tax.percentage }}%): ${{ tax_amount|floatformat:2 }}</p>
    {% endif %}

    <!-- Итоговая цена -->
    <h3>Total Price: {{ total_price|floatformat:2 }} $</h3>

    <button id="buy-button-session" data-object-type="order" data-object-id="{{ order.id }}" data-stripe-key="{{ stripe_public_key }}">
        Pay Now
    </button>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>